{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} About {% endblock %}</h1>
<div class="content">
  <p>
    Here are some reviews from my tour of Seattle coffee shops, written with scientific precision. The results have a
    sample size of 1, and I am a highly untrained sommelier. The main reason for my circuit was to expand my tea hobby
    into a general hot drinks interest. Or, maybe to combine with my bouldering excursions to round out the Software
    Engineer experience.
  </p>
  <p>
    I've opted not to include prices. Given I won't be keeping the prices up-to-date, recording how much I paid would
    only set up visitors for sticker shock, or perhaps spawn wistful "back in my day"'s. Wasn't that a believable
    explanation? In truth, that ascribes more foresight to past me than is fair; I only decided to release these as
    reviews for the web-dev practice. The inspiration anyone might glean from this caffeinated navel-gazing is a happy
    side effect!
  </p>
  <p>
    For the historically inclined, when I visited Seattle in 2023, the average espresso would set you back $4. If I had
    to speculate, when you are reading this, the price of espresso is much higher per liter than gas. Tastier, too.
  </p>
  <p>
    Enough rambling! If you've made it this far, click the reviews link to see my (in)complete list of (mostly) Seattle
    espresso reviews.
  </p>
</div>
{% endblock %}